.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .portfolio-item-wrapper {
        display: grid;

        .portfolio-img-background {
            grid-area: 1/1;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 250px;
            transition: 1s;

            @media (min-width: 500px) {
                height: 33vw;
            }
        }
        
        &:hover .portfolio-img-background {
            filter: brightness(10%);
        }

        .img-text-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            grid-area: 1/1;
            z-index: 1;
            transition: 1s;

            .subtitle {
                transition: 1s ease-in-out;
                color: transparent;
                font-size: 0;
                font-weight: 600;
                transition: 1s;
            }
        }

        &:hover .subtitle {
            color: $offwhite;
            font-size: 1em;
            padding: 25px;

            @media (min-width: 800px) {
                font-size: 1.3em;
            }
        }

        .logo-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo-wrapper img {
            object-fit: contain;
            max-width: 50%;
        }
    }
}