.portfolio-detail-wrapper {
    width: 100vw;

    .banner {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    }

    .portfolio-detail-description-wrapper {
        text-align: center;
        margin-top: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .name {
            margin-bottom: 30px;
            font-size: 1.2em;
            font-weight: 600;
            transition: 2s ease-in-out;

            @media (min-width: 600px) {
                font-size: 2em;
            }
        }

        .description {
            width: 90%;
            margin-bottom: 50px;
            transition: 2s ease-in-out;

            @media (min-width: 600px) {
                font-size: 1.5em;
            }
        }
    }

    .bottom-content-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;

        .site-link {
            padding: 15px;
            background-color: $teal;
            border-radius: 3px;
            text-decoration: none;
            color: white;
            transition: 0.3s ease-in-out;
            font-size: 1.2em;

            &:hover {
                background-color: $dark-teal;
            }
        }
    }
}